node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

/screenshots/*.png
.env/.env.account
.env/.env.token
.env/.env.variables
/tests/**/*-darwin.png

download.js
*.zip
.DS_STORE
playwright